@import "tailwindcss";

@theme {
  --color-google-blue: #1A73E8;
  --color-google-red: #D93025;
  --color-google-yellow: #FBBC04;
  --color-google-green: #34A853;
  --color-google-grey: #5F6368;
  --color-google-light-grey: #F8F9FA;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #202124;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
